* {
  margin: 0;
}

/*      HEADER */
#title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
}

/*      NAV */
#color-palette {
  padding: 30px;
  text-align: center;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.color:first-child {
  background-color: black;
  border: 1px solid;
}

.color:nth-child( 2 ) {
  background-color: #a882dd;
  border: 1px solid black;
}

.color:nth-child( 3 ) {
  background-color: #e08d79;
  border: 1px solid black;
}

.color:nth-child( 4 ) {
  background-color: #b3f2dd;
  border: 1px solid black;
}

/*    INPUT */
#input-container {
  text-align: center;
  padding-bottom: 30px;
}

#board-size {
  width: 220px;
}

/*    BUTTON */
#button-container {
  text-align: center;
}

#clear-board {
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  color: rgb(44, 43, 43);
  background-color: #1affd5;
  cursor: pointer;
  text-align: center;
}

#clear-board:hover {
  background-color: #00926e;
  color: white;
  box-shadow: 0 12px 16px 0 gray, 0 17px 80px 0 #1affd5;
}

/*      SECTION */
section {
  padding: 30px;
  align-content: center;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  justify-content: center;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

/* Referencias:
1.'https://www.w3schools.com/css/css3_buttons.asp'; */
